repos:
  - repo: https://github.com/homebysix/pre-commit-macadmin
    rev: v1.22.0
    hooks:
      - id: check-autopkg-recipes
        args: ["--recipe-prefix=com.github.autopkg.", "--strict", "--"]
        exclude: ^(MSOfficeUpdates|OmniGroup|munkitools|AutoPkg|Munki|Mozilla|SassafrasK2Client)/
      - id: forbid-autopkg-overrides
        exclude: ^(MSOfficeUpdates|OmniGroup)/
      - id: forbid-autopkg-trust-info
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 26.1.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
      - id: seed-isort-config
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
